@import '~fullpage.js/jquery.fullPage.css';
@import '~react-image-gallery/src/image-gallery';

@import 'fonts';

$navy: #233247;
$cornflower: #A6ADB5;
$orange: #CA490D;

body {
  margin: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: $navy;
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  color: $orange;
  font-size: 32px;
}

a.btn {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

div.section {
  div.content {
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    & > div {
      flex: 1;
    }
  }

  div.cover {
    div {
      flex: 1;
    }
    
    div.header, div.rsvp {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.info {
      display: flex;
      flex-direction: row;
      margin-left: 20%;
      margin-right: 20%;
      align-items: center;
    }

    img {
      width: 600px;
    }

    p.and {
      font-family: 'Pacifico', cursive;
      font-size: 32px;
      color: $navy;
    }

    h3 {
      font-family: 'Pacifico', cursive;
      color: $navy;
      font-size: 40px;

      &:last-of-type {
        color: $cornflower;
        font-size: 20px;

        div.react-count-down {
          display: inline;
        }
      }
    }

    a.btn {
      font-family: 'Poiret One', cursive;
      font-weight: 700;
      background-color: $navy;
      font-size: 48px;
      color: white;

      &:hover {
        background-color: $cornflower;
      }
    }
  }

  div.details {
    div.header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.info {
      margin-left: 20%;
      margin-right: 20%;
      flex: 3;
      text-align: left;
      font-family: 'Raleway', sans-serif;

      h3 {
        text-align: center;
        color: $navy;
        font-family: 'Poiret One', cursive;
        font-weight: 700;
        margin-top: 0px;

        &.section-header {
          color: $orange;
          margin-bottom: 0px;
        }

        a {
          color: $orange;
        }
      }

      p {
        padding: 15px;

        &.info-section {
          padding: 0px;
        }

        &.center {
          text-align: center;
        }
      }

      img {
        width: 100%;
      }

      div.flex-columns {
        display: flex;
        flex-direction: row;

        div {
          margin: 15px;
        }

        div:first-child {
          flex: 1;
          // flex-shrink: 1;
        }

        div:last-child {
          flex: 2;
        }
      }
    }
  }

  div.gallery {
    div.header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.gallery-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 3;

      section.image-gallery {
        width: 80%;

        div.image-gallery-image img {
          max-height: 400px;
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  div.section div.cover {
    img {
      width: 400px;
    }

    h2 {
      font-size: 24px;
    }

    p.and {
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  div.section div.cover {
    h1 {
      font-size: 48px;
    }

    img {
      width: 300px;
    }

    a.btn {
      font-size: 36px;
    }
  }

  div.section div.details {
    div.info {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

@media screen and (max-width: 800px) {
  div.section div.cover {
    div.info {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 650px) {
  div.section div.details {
    div.info div.flex-columns {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  div.section div.cover {
    h1 {
      font-size: 36px;
    }

    a.btn {
      font-size: 30px;
    }
  }
}