$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'fonts';

$navy: #233247;
$cornflower: #A6ADB5;
$orange: #CA490D;

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: $navy;
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  color: $orange;
  font-size: 32px;
}

a.btn {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.section {
  min-height: 100%;
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.row-padding {
  padding: 75px;
}

.center {
  text-align: center;
}

.rsvp-btn {
  text-align: center;

  .btn {
    background-color: $navy;
    color: white;
    font-family: Poiret One,cursive;
    font-weight: 700;
    font-size: 48px;

    &:hover {
      background-color: $cornflower;
    }
  }
}

.cover {
  img {
    width: 100%;
  }

  p.and {
    font-family: Pacifico,cursive;
    font-size: 32px;
    color: $navy;
  }

  p.date {
    font-family: Pacifico,cursive;
    font-size: 40px;
    color: $navy;
  }

  div.countdown {
    font-family: Pacifico,cursive;
    font-size: 24px;
    color: $cornflower;
  }
}

.details {
  .info {
    margin-top: 25px;

    img {
      width: 100%;
    }

    h3 {
      text-align: center;
      font-family: Poiret One,cursive;
      font-weight: 700;
      margin-top: 0;
      color: $orange;
      margin-bottom: 0;
    }

    .left {
      h3 {
        color: $navy;

        a {
          color: $orange;
          text-decoration: underline;
        }
      }
    }

    p {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

.gallery {
  .gallery-wrapper {
    display: flex;
    flex-flow: row wrap;

    .gallery-thumb {
      flex: 1;
      display: flex;
      flex-basis: 20%;
      justify-content: space-between;
      align-items: stretch;
      align-content: space-between;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 25px;
      min-height: 198px;

      &:before {
        content: "";
        display: block;
        margin-top: 100%;
      }

      &:not(.spacer):hover {
        cursor: pointer;
      }
    }
  }
}

.limited-seating {
  margin-top: 25px;
}

// Bootstrap xs breakpoint
@media screen and (max-width: 768px) {
  .cover .rsvp-btn {
    margin-bottom: 25px;
  }

  div.cover div.countdown {
    font-size: 20px;
  }

  div.details img {
    margin-bottom: 25px;
  }

  .gallery .gallery-wrapper .gallery-thumb {
    min-height: 100px;
    
    .spacer {
      display: none;
    }
  }
}
