$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '~react-image-gallery/src/image-gallery';

@import 'fonts';

$navy: #233247;
$cornflower: #A6ADB5;
$orange: #CA490D;

body {
  margin: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: $navy;
  font-size: 64px;
}

div.Section {
  div.content {
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    & > div {
      flex: 1;
    }
  }

  div.cover {
    div {
      flex: 1;
    }
    
    div.header, div.rsvp {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.info {
      display: flex;
      flex-direction: row;
      margin-left: 20%;
      margin-right: 20%;
      align-items: center;
    }

    h2 {
      font-family: 'Poiret One', cursive;
      font-weight: 700;
      color: $orange;
    }

    img {
      width: 600px;
    }

    p.and {
      font-family: 'Pacifico', cursive;
      font-size: 32px;
      color: $navy;
    }

    h3 {
      font-family: 'Pacifico', cursive;
      color: $navy;
      font-size: 40px;

      &:last-of-type {
        color: $cornflower;
        font-size: 20px;

        div.react-count-down {
          display: inline;
        }
      }
    }

    a.btn {
      font-family: 'Poiret One', cursive;
      font-weight: 700;
      background-color: $navy;
      font-size: 48px;
      color: white;

      &:hover {
        background-color: $cornflower;
      }
    }
  }

  div.gallery {
    div.header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.gallery-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 3;

      section.image-gallery {
        width: 80%;

        div.image-gallery-image img {
          max-height: 400px;
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  div.Section div.cover {
    img {
      width: 400px;
    }

    h2 {
      font-size: 24px;
    }

    p.and {
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  div.Section div.cover {
    h1 {
      font-size: 48px;
    }

    img {
      width: 300px;
    }

    a.btn {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 800px) {
  div.Section div.cover {
    div.info {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  div.Section div.cover {
    h1 {
      font-size: 36px;
    }

    a.btn {
      font-size: 30px;
    }
  }
}